#packages .ss-box1, #packages .ss-bg {
  background: white; }

#packages .ss-box1 {
  padding-top: 0; }

#packages .ss-bg {
  padding-bottom: 0; }

#packages .ss-box1-right-all {
  padding: 35px 0 0 0; }

#block_package_banner {
  position: relative;
  text-align: center; }

.package_banner_slider img {
  width: 100%;
  height: auto;
  /*max-width: 1140px;*/ }

@media (max-width: 480px) {
  .list_category_package_container {
    margin-top: 10px; }

  .package_filter_area .sortType, .package_filter_area .sortOrder {
    margin-bottom: 8px; } }
.list_category_package_container {
  margin-bottom: 30px; }

@media (min-width: 1023px) {
  #list_category_package {
    text-align: center;
    display: flex;
    justify-content: space-between; } }
#list_category_package li {
  display: inline-block; }

@media (max-width: 1023px) {
  #list_category_package li {
    margin-top: 20px; } }
#list_category_package li img {
  width: 40px;
  height: 40px; }

#list_category_package li a {
  font-size: 16px;
  border: #d5d5d5 1px solid;
  padding: 12px 20px 14px 3px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  color: #666666;
  background: #fff;
  text-decoration: none; }

#list_category_package li a:hover, #list_category_package li.active a {
  color: #fff;
  background: #00a1e4;
  border-color: #00a1e4; }

@media (max-width: 480px) {
  #list_category_package li {
    width: 49%; }

  #list_category_package li a {
    display: block;
    padding: 1px 20px 1px 1px;
    width: 90%;
    margin: 0 auto; } }
.package_filter_area_container {
  border-bottom: 2px solid #e2e2e2;
  padding-bottom: 15px; }

.package_filter_area {
  font-size: 15px;
  font-weight: 300; }

.package_filter_area .title {
  font-size: 20px;
  margin-bottom: 10px; }

@media (min-width: 768px) {
  .package_filter_area .package_search_filter, .package_filter_area .msisdn_search_filter {
    padding-left: 30px; } }
.package_filter_area .package_search_filter, .package_filter_area .msisdn_search_filter {
  margin-bottom: 20px; }

.package_filter_area .sortGroup {
  display: inline-block;
  margin-bottom: 10px; }

.package_filter_area .title, .package_filter_area .sortType, .package_filter_area .sortOrder {
  display: inline-block;
  margin-right: 20px;
  vertical-align: middle;
  position: relative; }

.package_filter_area .title {
  margin-top: 8px; }

.package_search_filter_separator {
  border-left: 1px dotted #c5c5c5; }

@media (max-width: 767px) {
  .package_search_filter_separator {
    border-left: none;
    border-top: 1px dotted #c5c5c5;
    padding-top: 15px; } }
.package_filter_area .title label {
  margin: 0; }

.package_filter_area select {
  border: none;
  outline: none; }

.package_filter_area .input-search, .package_filter_area .btn-search {
  display: inline-block; }

.package_filter_area .input-search {
  width: 330px;
  vertical-align: middle;
  outline: none;
  box-shadow: none;
  border: #d5d5d5 1px solid;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  padding-left: 10px; }

@media (max-width: 768px) {
  .package_filter_area .input-search {
    width: 100%; } }
#packages .msisdn_search_filter #input_msisdn::-webkit-input-placeholder {
  font-size: 12px; }

/* Chrome/Opera/Safari */
#packages .msisdn_search_filter #input_msisdn::-moz-placeholder {
  font-size: 12px; }

/* Firefox 19+ */
#packages .msisdn_search_filter #input_msisdn:-ms-input-placeholder {
  font-size: 12px; }

/* IE 10+ */
#packages .msisdn_search_filter #input_msisdn:-moz-placeholder {
  font-size: 12px; }

/* Firefox 18- */
@media (min-width: 481px) and (max-width: 768px) {
  #packages .msisdn_search_filter #input_msisdn::-webkit-input-placeholder {
    font-size: 11px; }

  /* Chrome/Opera/Safari */
  #packages .msisdn_search_filter #input_msisdn::-moz-placeholder {
    font-size: 11px; }

  /* Firefox 19+ */
  #packages .msisdn_search_filter #input_msisdn:-ms-input-placeholder {
    font-size: 11px; }

  /* IE 10+ */
  #packages .msisdn_search_filter #input_msisdn:-moz-placeholder {
    font-size: 11px; }

  /* Firefox 18- */ }
.package_filter_area .btn-search {
  padding: 6px 14px;
  background: #ed0677;
  border: none;
  outline: none;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  vertical-align: middle;
  position: absolute;
  margin-left: -50px;
  top: 0; }

@media (max-width: 768px) {
  .package_filter_area .btn-search {
    margin-left: 0;
    right: 15px; } }
.package_filter_area .btn-search img {
  width: 22px;
  height: 21px; }

.package_freedoo {
  background: #ececec; }

.package_other {
  background: #fff; }

.package_freedoo, .package_other {
  padding-top: 30px; }

.package_freedoo .title, .package_other .title {
  padding-bottom: 10px; }

.package_freedoo .title h3, .package_other .title h3 {
  font-weight: bold;
  font-size: 32px;
  text-transform: uppercase; }

.package_other .title h3 {
  color: #2095f3; }

.block_package_container {
  border-bottom: 2px solid #e2e2e2; }

.block_package {
  margin-top: 30px; }

.block_package .block_action {
  margin-bottom: 20px; }

.item_package {
  background: #fff;
  position: relative;
  padding: 20px;
  font-size: 16px;
  margin-bottom: 30px;
  box-shadow: 1px 1px 2px #888888;
  -o-transition: all ease-in-out 0.4s;
  -moz-transition: all ease-in-out 0.4s;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.5s; }

@media (min-width: 1024px) {
  .item_package:hover {
    -o-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -webkit-transform: scale(1.03);
    transform: scale(1.03); } }
.item_package .title h4 {
  margin: 0; }

.item_package .title h4 {
  font-size: 34px;
  font-weight: bold;
  color: #343434;
  -o-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s; }

#block_package_flexible .item_package .title h4 {
  font-size: 32px; }

.item_package .title:hover > a h4 {
  color: #ed0677; }

.item_package .title p {
  font-size: 13px;
  margin: 0;
  color: #333; }

.item_package .item_package_separator {
  min-height: 1px;
  border-bottom: 1px dashed grey;
  margin-left: -20px;
  margin-right: -20px; }

.item_package span.discount {
  position: absolute;
  top: 30px;
  right: 0; }

.item_package span.discount img, .item_package span.discount label {
  width: 60px;
  height: 30px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  right: 0; }

.item_package span.discount label {
  text-align: center;
  padding-top: 5px; }

.item_package .category, .item_package .call_des, .item_package .sms_des, .item_package .data_des, .item_package .price, .item_package .action {
  margin-top: 15px; }

.item_package .category img {
  width: 40px;
  height: 40px; }

.item_package .content {
  display: block;
  margin-top: 10px; }

.item_package .content p {
  margin: 0; }

.item_package span.package_icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  text-align: center; }

.item_package .category .content {
  font-weight: bold; }

.item_package .price_label {
  margin-top: 25px; }

.item_package .price {
  padding-left: 20px;
  font-size: 36px;
  color: #d91a61;
  margin-bottom: 20px; }

.item_package .price span {
  font-size: 24px; }

.item_package .action a.btn-viewmore {
  padding: 8px 20px;
  background: #d0d0d0;
  color: #686868;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  font-size: 16px;
  border: none;
  outline: none; }

.item_package .action a.btn-register {
  padding: 8px 20px;
  background: #ed0677;
  color: #fff;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  font-size: 16px;
  border: none;
  outline: none; }

.item_package .action a.btn:hover {
  box-shadow: 2px 2px 5px #888888; }

#packages .btn-prev, #packages .btn-next {
  background: #f3f0f0;
  color: #686868;
  margin-left: 10px;
  margin-right: 10px;
  padding: 4px 12px 2px;
  border: #d5d5d5 1px solid; }

#packages .btn-prev i, #packages .btn-next i {
  font-size: 20px; }

#packages .btn-prev:hover, #packages .btn-next:hover {
  box-shadow: 2px 2px 5px #888888;
  background: #0e97d8;
  color: #fff;
  border-color: #0e97d8; }

.call_des .package_icon, .sms_des .package_icon, .data_des .package_icon, .short_des .package_icon {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 1px solid #0e97d8; }

.call_des .package_icon img, .sms_des .package_icon img, .data_des .package_icon img, .price_label .package_icon img {
  margin-top: 7px; }

.short_des .package_icon img {
  margin-top: 9px; }

.item_package .short_des .row {
  margin-top: 15px; }

.item_package_other {
  background: #f8f8f8; }

@media (max-width: 480px) {
  #packages .ss-box1-right-all {
    padding: 15px 0 0 0; } }
.item_package .package_ctv {
  text-align: center;
  color: #0e97d8; }

.item_package .package_description {
  height: 250px;
  margin-top: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 15px; }

.item_package .package_description::-webkit-scrollbar {
  width: 2px; }

.item_package .package_description::-webkit-scrollbar-track {
  background: #e9e9e9;
  border: 2px solid transparent;
  background-clip: content-box;
  /* THIS IS IMPORTANT */ }

.item_package .package_description::-webkit-scrollbar-thumb {
  background: #838383;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 20px; }

.item_package .package_description::-webkit-scrollbar-thumb:hover {
  background: #555; }

@keyframes spinner {
  to {
    transform: rotate(360deg); } }
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #0aa1df;
  border-bottom-color: #ed0677;
  animation: spinner 1s ease infinite; }

#loadingPackageImg {
  display: inline-block;
  position: relative; }

#packages .not-found {
  font-size: 15px;
  padding: 30px 0; }

/*# sourceMappingURL=package.css.map */
